<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  
  
   <test parallel="tests" name="Test2">
   <parameter name="browser" value="firefox"></parameter>
    <classes>
     
      <class name="com.batch21.testcases.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
